{% block orders %}
  {% include 'components/search.html' %}
  {% if search %}
    <a href="{% url 'orders_list' %}" class="btn-link">← Назад</a>
  {% endif %}
  <div class="col">
    <span class="badge bg-secondary mb-4">{{ orders|length }} товаров</span>
    <div class="table-wrapper">
      <table class="table table-hover table-borderless">
        {% include 'components/orders/thead.html' %}
        {% include 'components/orders/tbody.html' %}
      </table>
    </div>
  </div>
  {% include 'components/catalogue/search.html' %}
{% endblock %}
