{% extends 'base.html' %}
{% block content %}
  <h1 class="display-1">MarkSystem</h1>
  <h3>WEB приложение для поставщиков на Яндекс Маркете по схеме FBY</h3>
  <h2>Детали</h2>
  <p class="lead">
    Проблема новых площадок заключается в отсутствии достаточного или комфортного функционала для поставщиков.
    Для покупателей придумали много интересного и удобного, а поставщики работают с площадкой через XML-файлы
    (статистика, каталог, анализ)
    У Яндекса есть API, на базе которого можно построить огромное web приложение с удобными инструментами для поставщиков:
  </p>
  <ul>
    <li>Удобная статистика в различных разрезах</li>
    <li>Гибкое и оперативное ценообразование</li>
    <li>Управление товарным каталогом</li>
    <li>Аналитический блок (предварительный расчет рентабельности, рекомендации к поставкам)</li>
  </ul>
{% endblock %}
