{% extends 'base.html' %}
{% load static %}
{% block content %}
  <img src="{% static 'images/logo-2.png' %}" class="d-block mx-auto" height="256">
  <h1 class="display-1 text-center" >MarkSystem</h1>
  <h3 class="text-center">WEB приложение для поставщиков на Яндекс Маркете по схеме FBY</h3>
  <h2>Детали:</h2>
  <p class="lead">
    Проблема новых площадок заключается в отсутствии достаточного или комфортного функционала для поставщиков.
    У Яндекса есть API, на базе которого построена наша система управления:
  </p>
  <ul>
    <li>Удобная статистика</li>
    <li>Гибкое и оперативное ценообразование</li>
    <li>Расширенное управление товарным каталогом</li>
    <li>Аналитический блок (предварительный расчет рентабельности)</li>
  </ul>
{% endblock %}
