{% extends 'base.html' %}
{% block content %}
  <p>{{ user.username }}</p>
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for form in base_form %}
      <p>{{form.label}}</p>
       <p>{{form}}</p>
    {%endfor%}
    <button type="submit">Save Changes</button>
  </form>
  <hr>
  <form method="post">
    {% csrf_token %}
    {% for form in passwd_form %}
      <p>{{form.label}}</p>
       <p>{{form}}</p>
    {%endfor%}
    <button type="submit">Change password</button>
  </form>
  <a href="{% url 'profile' %}">Назад</a>

{% endblock %}
