{% extends 'app.html' %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <div class="form-group">
        <label>
            Имя пользователя
            {{form.username}}
        </label>
    </div>
    <div class="form-group">
        <label>
            Почта
            {{form.email}}
        </label>
    </div>
    <div class="form-group">
        <label>
            Пароль
            {{form.password1}}
        </label>
    </div>
  <div class="form-group">
        <label>
            Повтор пароля
            {{form.password2}}
        </label>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;">Зарегистрироваться</button>
</form>
{% endblock %}
