{% extends 'app.html' %}
{% block content %}
<form action="" method="GET" style="margin-top: 20px;">
  <div class="buttons-group">
    <input id="content" type="text" class="form-control d-none" name="content" value="button_info">
    <button id="info" type="submit" class="btn btn-light btn-lg" onclick="inputEdit(this.id)">Данные о товаре</button>
    <button id="accommodation" type="submit" class="btn btn-light btn-lg" onclick="inputEdit(this.id)">Управление размещением</button>
  </div>
</form>
<a href="{% url 'catalogue_list' %}"  role="button" class="btn btn-outline-danger btn-sm" style="margin-top: 20px;">
  {% if create %}
    Отмена
  {% else %}
    В каталог
  {% endif %}
</a>
<form action="" method="post">{% csrf_token %}
    {% for title, forms_list in forms.items %}
        {% for form in forms_list.1 %}
              {% for item in form %}
                  {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                            <div class="alert alert-danger" role="alert">
                           {{field}} : {{ error }}
                            </div>
                        {% endfor %}
                  {% endfor %}
              {% endfor %}
        {% endfor %}
  {% endfor %}
  {% for title, forms_list in forms.items %}
  <div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 20px;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="{{ forms_list.0 }}Heading">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{forms_list.0}}Collapse" aria-expanded="false" aria-controls="flush-collapseOne">
          {{ title }}
        </button>
      </h2>
      <div id="{{forms_list.0}}Collapse" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          {% for form in forms_list.1 %}
          {% for item in form %}
          <div class="mb-3">
              <label>
                  <label {% if item.help_text %}
                    data-bs-toggle="tooltip" data-bs-placement="right" title="{{ item.help_text }}"
                  {% endif %}>{{item.label}}{% if item.field.required %}*{% endif %}</label>
                  {% if item.value or not disable or create %}
                    {{ item }}
                  {% else %}
                    <input class="form-control" value="Не задано" disabled style="color: red;">
                  {% endif %}
              </label>
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% if not disable %}
    <button id="button_save" type="submit" class="btn btn-primary" style="margin: 40px 0;">
      {% if not create %}Сохранить{% else %}Создать{% endif %}
    </button>
  {% endif %}
</form>
{% if disable %}
<form action="." method="GET" style="margin: 40px 0;">
  <input type="text" class="form-control d-none" name="edit" value="1">
  <input type="text" id="content_load" class="form-control d-none" name="content" value="{{ content }}">
  <button id="button_loader" type="submit" class="btn btn-primary" onclick="inputLoad(this.id)">Редактировать</button>
</form>
{% endif %}
<script>
  function inputEdit(id) {
    document.getElementById("content").value = id;
  }
</script>
{% endblock %}
