{% load index %}
{% load static %}

{% block filter_types %}
  {% for filter_type in filter_types %}
  <div class="dropdown no-close-on-choose me-4">
    <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      {{ filter_type.name }}
    </a>
    <div class="dropdown-menu scrollable" aria-labelledby="dropdownMenuLink">
      {% for option in filter_type.options %}
        <div class="form-check-inline dropdown-item dropdown-item-no-active">
          <input class="form-check-input" type="checkbox" name="{{ forloop.parentloop.counter0 }}" value="{{ forloop.counter0 }}" id="{{ forloop.parentloop.counter0 }}:{{ forloop.counter0 }}" {% if checked|index:forloop.parentloop.counter0|index:forloop.counter0 %} checked {% endif %}>
          <label class="form-check-label" for="{{ forloop.parentloop.counter0 }}:{{ forloop.counter0 }}">
            {{ option }}
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  <div>
    <button class="btn btn-danger" type="button" id="reset_filters">Сбросить фильтры</button>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/reset_filters.js' %}"></script>
{% endblock %}
