{% block footer %}
  <section class="footer3 cid-syQ1kIBySF mbr-reveal" once="footers" id="footer3-1g">
    <div class="container">
        <div class="media-container-row align-center mbr-white">

            <div class="row social-row">
                <div class="social-list justify-content-center pb-2">

                <div class="soc-item">
                        <a href="https://vk.com/natridanil" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon" style="color: rgb(53, 53, 53); fill: rgb(53, 53, 53);"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://discord.gg/4qy4zCHGHu" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-discord socicon" style="color: rgb(53, 53, 53); fill: rgb(53, 53, 53);"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://t.me/Alexandrovskii" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-telegram socicon" style="color: rgb(53, 53, 53); fill: rgb(53, 53, 53);"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright {% now 'Y' %} MarkSystem. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
