{% block pills %}
  <ul class="nav nav-pills flex-column mb-auto">
    {% for item in navbar.main %}
      {% if item.list %}
        <li class="nav-item dropdown mb-1">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ item.label }}
          </a>
          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            {% for path in item.list %}
              <a class="dropdown-item {% if not path.active%}active disabled{% endif %}" href="{% url path.url %}">
                {{ path.label }}
              </a>
            {% endfor %}
          </div>
        </li>
      {% else %}
        <li class="nav-item mb-1">
          <a href="{% url item.url %}" class="nav-link {% if not item.active%}active disabled{% else %}text-white{% endif %}">
            {{ item.label }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
