{% block form_data %}
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% include 'components/errors.html' %}
    {% for item in base_form %}
      <div class="mb-3">
        <label>
          {% ifequal form.label 'Аватарка' %}
              {{ item.label }} {% if item.field.required %}*{% endif %}
              <br>
          {% else %}
            {{ item.label }} {% if item.field.required %}*{% endif %}
          {% endifequal %}
            {{ item }}
        </label>
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Сохранить</button>
  </form>
{% endblock %}
