{% block offers %}
  {% include 'components/search.html' %}
  {% if search %}
    <a href="{% url 'catalogue_list' %}" class="btn-link">← Назад</a>
  {% endif %}
  <div class="col">
    <span class="badge bg-secondary mb-4">{{ offers|length }} товаров</span>
    <div class="table-wrapper">
      <form method="post">
        {% csrf_token %}
        <table class="table table-hover table-borderless">
          {% include 'components/catalogue/thead.html' %}
          {% include 'components/catalogue/tbody.html' %}
        </table>
        <button id="checkbox" name="checkbox" type="submit" class="btn btn-danger">Удалить</button>
      </form>
    </div>
  </div>
{% endblock %}
