{% block thead %}
  <tbody>
    {% for offer in offers %}
      <tr>
        <td>
          <input type="checkbox" class="form-check-input" name="form-checkbox:{{ offer.id }}" id="form-checkbox:{{ offer.id }}">
        </td>
        <td>
          <a class="name_link" href="{% url 'offer_by_sku' offer.id %}">{{ offer.name }}</a>
        </td>
        <td>{{ offer.shopSku }}</td>
        <td>{{ offer.category }}</td>
        <td>{{ offer.vendor }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}

