{% extends 'base.html' %}
{% block content %}
  <div class="row-12 d-flex justify-content-space-between">
    {% for stat in stats %}
    <div class="col-sm-4 bg-light m-1 p-3 text-center border rounded">
      <h3>{{ stat.name }}</h3>
      <div class="row bg-white d-flex justify-content-between border rounded">
        {% for secondary_stat in stat.secondary_stats %}
          {% if secondary_stat.amount is not None and secondary_stat.total_cost is not None %}
            <div class="col-sm-6 mx-auto">
              Заказанные {{ secondary_stat.time }}:<br> {{ secondary_stat.amount }}
              на сумму <u>{{ secondary_stat.total_cost }}₽</u><br>
              Себестоимость <u>{{ secondary_stat.total_net_cost }}₽</u><br>
              Прибыль <u>{{ secondary_stat.revenue }}₽</u>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
