{% extends 'base.html' %}
{% block content %}
  <h1>Summary</h1>
  <div class="row d-flex justify-content-between">
    <div class="col-sm-4 text-center border rounded">
      <h2>Заказы и доставка</h2>

      {% for stat in stats %}
        <h3>{{ stat.name }}</h3>
        <div class="row d-flex justify-content-between">
          {% if stat.curr_amount is not None and stat.curr_total_cost is not None %}
            <div class="col-sm-6">
              Закаказанные в этом месяце:<br> {{ stat.curr_amount }}
              на сумму {{ stat.curr_total_cost }}<br>
              Себестоимость {{ stat.curr_total_net_cost }}
            </div>
          {% endif %}
          {% if stat.prev_amount is not None and stat.prev_total_cost is not None %}
            <div class="col-sm-6">
              Закаказанные раньше: {{ stat.prev_amount }}<br>
              на сумму {{ stat.prev_total_cost }}<br>
              Себестоимость {{ stat.prev_total_net_cost }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="col-sm-3 text-center border rounded">
      Товары
    </div>

    <div class="col-sm-4 text-center border rounded">
      Эффективность
    </div>
</div>
{% endblock %}
