{% block delete %}
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Удаление</h5>
        </div>
        <div class="modal-body">
          Вы уверены, что хотите <em>безвозвратно</em> удалить этот товар?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <form method="post">
            {% csrf_token %}
            <input id="delete" type="text" class="form-control d-none" name="delete" value="{{ id }}">
            <button type="submit" class="btn btn-danger" onclick="inputEdit(this.id)">Удалить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
